<!DOCTYPE html>
<html>
    
    <head>
    <%- include templete/pub_head %>
    </head>
    
    <body>
    
    <%- include templete/menubar %>
    
    <div class="container after-cls pt30 pb30">
        <div class="article-left">
            <div class="search">
                <input type="text" placeholder="大家都在搜" value="<%= keyword %>" id="keyword" onkeyup="keywordEnter()" />
                <input type="button" value="搜索" id="keywordBtn" onclick="keywordSearch()" />
            </div>
            
            <div class="hotwords">
                <font>热搜词：</font>
                <% for(let hotword of article_hotword){ %>
                <a href="/article_search/<%= hotword.hotword_name %>" target="_blank"><%= hotword.hotword_name %></a>
                <% } %>
            </div>
            
            <input type="hidden" id="article_page" value="1" />
            
            <div class="article-list" id="article_list" style="border-top: 1px solid #e6e8eb;">
                <% for(let article of article_list){ %>
                <a href="/article_detail/<%= article.article_id %>.html" target="_blank" class="article-item">
                    <div class="thumb">
                        <img src="<%= article.thumb_path %>" alt="<%= article.article_title %>" />
                    </div>
                    <div class="limit">
                        <h4 class="title"><%= article.article_title %></h4>
                        <h5 class="summary"><%= article.article_lead %></h5>
                    </div>
                    <p><span class="author"><%= article.author_name %></span><span class="tag"><%= article.article_tag %>&nbsp;&nbsp;<%= article.create_time %></span></p>
                </a>
                <% } %>
            </div>
            
            <% if(article_list.length == 10){ %>
            <div class="article-loadmore" id="article_loading">加载中，请稍后...</div>
            <div class="article-loadmore" id="article_loadnone" style="display: none;">喂喂，你触碰到我的底线了</div>
            <% }else{ %>
            <div class="article-loadmore" id="mark_loading" style="display: none;">加载中，请稍后...</div>
            <div class="article-loadmore" id="mark_loadnone">喂喂，你触碰到我的底线了</div>
            <% } %>
        </div>
        <div class="article-right" style="padding-top: 55px;">
            
            <div class="flash" style="border-top: none;">
                <h4 class="title">7×24h&nbsp;快讯</h4>
                <% for(let flash of flash_list){ %>
                <div class="flash-item">
                    <a href="javascript:;"><%= flash.flash_title %></a>
                    <div><%- flash.flash_content %></div>
                    <p><%= flash.create_time %></p>
                </div>
                <% } %>
            </div>
            
            <div class="swiper-container swiper mt20" id="article_swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="/images/welfare/welfare_banner_1.jpg" />
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:;">
                            <img src="/images/welfare/welfare_banner_2.jpg" />
                        </a>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- 如果需要导航按钮 -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            
            <div class="recommend mt20" style="border-top: none;">
                <h4 class="title">推荐阅读</h4>
                <% for(let recommend of article_recommend){ %>
                <div class="recommend-item">
                    <a href="/article_detail/<%= recommend.article_id %>.html" target="_blank"><%= recommend.article_title %></a>
                </div>
                <% } %>
            </div>
            
        </div>
    </div>
    
    <%- include templete/pub_foot %>
    
    <script type="text/javascript">
    function keywordEnter(e){
        var eve = e || window.event;
        if(eve.keyCode == 13){
            keywordSearch();
        }
    }
    
    function keywordSearch(){
        if($.trim($("#keyword").val()) == ""){
            return;
        }
        location.href = '/article_search/'+$("#keyword").val();
    }
    
    $(function(){
        
        scrollTop("ico_top");//返回顶部
        
        var mySwiper = new Swiper ('#article_swiper', {
            loop : true,
            autoplay: {
                delay: 8000,//8秒切换一次
            },
            pagination: {
                el: '.swiper-pagination',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            }
        })
        
        $(".flash-item a").on("click",function(){
            $(this).parent().toggleClass("active");
            $(this).siblings("div").slideToggle();
        })
        
        <% if(article_list.length == 10){ %>
        var article_loading = false;//状态标记
        $(window).on("scroll",function(){
            if($("#article_loadnone").is(":visible")) return;
            if($(window).scrollTop() + $(window).height() + 100 < $(document).height()) return;
            if(article_loading) return;
            article_loading = true;
            var current_page = parseInt($("#article_page").val());
            $.ajax({
                type:"post",
                url:"/get_articleSearchAjax_tpl",
                async:true,
                data:{
                    keyword:$("#keyword").val(),
                    page: current_page+1
                },
                success:function(html){
                    var $html = $(html.replace(/[\r\n]/g,""));
                    if($html.length < 10){
                        $("#article_loading").hide();
                        $("#article_loadnone").show();
                    }
                    $("#article_list").append(html);
                    $("#article_page").val(current_page+1);
                    article_loading = false;
                }
            });
        })
        <% } %>
        
    })
    </script>
    </body>
</html>
